body {
  font-family: Rubik, sans-serif;
  line-height: 1.5;
  background-color: #f9fbfd;
}

.chart {
  display: flex;
  background-color: #fff;
}

.album {
  color: #c9c9c9;
  font-size: 13px;
}

table {
  flex: 1;
}

td {
  text-align: center;
}

.chartName {
	padding: 10px;
	font-size: 20px;
}

td > img.albumArt {
  width: 50px;
  height: 50px;
}

