.mopen {
    display: none; 
    position: fixed; 
    top: 30px; 
    right: 30px; 
    font-size: 30px; 
    padding: 10px; 
    background: #ddd;
}

@media (max-width:768px) {
    .mopen {
        display: block; 
    }
}